.container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 40px;
  text-align: center;
}

.left-side h1 {
  font-size: 3em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.left-side p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 30px;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.left-side img.left-image {
  width: 100%;
  max-width: 300px; 
  margin-top: 20px; 
  border-radius: 8px;
}

.login-form {
    background-color: #FFE5E1; 
    
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 25px;
  color: #333;
  font-weight: 600;
}

label {
  display: block;
  text-align: left;
  font-size: 0.95em;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1.1em;
  background-color: #f8f8f8;
}

input:focus {
  border-color: #9C4DF4;
  outline: none;
  box-shadow: 0 0 8px rgba(156, 77, 244, 0.2);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #9C4DF4;
  border: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7a3bb7;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.85em;
  margin-top: -10px;
  margin-bottom: 20px;
}

.success {
  color: green;
  font-size: 0.85em;
  margin-bottom: 20px;
}

p {
  margin-top: 20px;
  font-size: 0.95em;
}

a {
  color: #9C4DF4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.password-container {
  position: relative;
}

.password-container input {
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2em;
  color: #555;
}

.toggle-password:hover {
  color: #9C4DF4;
}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  margin-top: auto; 
}
