<main>
    <h2>Upcoming Events</h2>
    <div class="container">
        <!-- Task List Section -->
        <div class="task-list">
          <h3>{{selectedDate}}</h3>
          <ul>
            <li *ngFor="let task of getTasksForSelectedDate()">
              {{ task }}
            </li>
          </ul>
        </div>
      
        <!-- Calendar Section -->
        <div class="calendar">
          <div class="month-header">
            <button (click)="prevMonth()">&#8249;</button>
            <span>{{ monthNames[currentMonth] }} {{ currentYear }}</span>
            <button (click)="nextMonth()">&#8250;</button>
          </div>
          <div class="weekdays">
            <span *ngFor="let day of weekdays">{{ day }}</span>
          </div>
          <div class="days">
            <span
              *ngFor="let day of daysInMonth; let i = index"
              [class.selected]="selectedDate === day.date"
              [class.has-events]="day.hasEvents"
              (click)="selectDate(day.date)"
            >
              {{ day.day }}
            </span>
          </div>
          
        </div>
      </div>
</main>
  