<div class="aboutUs">
  <div class="aboutUsText">
    <h1>About Us</h1>
    <h3>
      <div class="weekendUx">WEEKEND UX</div>
      providing the<br />
      best opportunities to the <br />students around the glob.
    </h3>
    <p>
      Weekend UX, is a UI/UX Design Academy in Delhi involved in User<br />
      Experience and User Interface Training and Consulting. It was started
      in<br />
      2023 and passionate towards User Interface Design/ User Experience<br />
      Design, Human Computer Interaction Design. Humanoid is gushing towards<br />
      competence to acquire knowledge and have a wide understanding towards<br />
      the sphere through the foremost courses in the area of UI/UX Design, by<br />
      strengthening up your skills, for your golden future
    </p>
  </div>
  <div class="aboutUsImg">
    <img src="../../../../assets/images/Rectangle 14.png" class="officeImg1" />
    <img src="../../../../assets/images/Rectangle 13.png" class="officeImg2" />
    <img src="../../../../assets/images/Rectangle 12.png" class="backgroundImg" />
  </div>
</div>
<div class="features">
  <div class="featuresImg">
    <img src="../../../../assets/images/Image BG.png" class="bulbBackground" />
    <img src="../../../../assets/images/Section Img.png" class="bulbImg" />
  </div>
  <div class="featuresTxt">
    <h5>Features</h5>
    <h3>
      We are always working <br />to provide you best of <br />the features in
      all<br />
      aspects.
    </h3>
    <p>
      At WEEKENDUX the chief determination is to clear the minds of our<br />
      students about their goals, while making them consistent in their
      ambitions <br />and pushing them to be confident for their journey towards
      the course of <br />time.
    </p>
    <p>
      You will find every little thing on the internet in just a click of hand,
      but here<br />
      we admire that without knowledge and practice the internet may even also
      <br />fail you in your life.
    </p>
  </div>
</div>
<div class="benefits">
  <div class="benefitsHeading">
    <h5>Our Benefits</h5>
    <h3>
      By Joining WEEKENS UX Platform,<br />
      One Can Avail a Lot Of Benefits.
    </h3>
    <p>
      Install our top-rated dropshipping app to your e-commerce site and get
      <br />access to US Suppliers, AliExpress vendors, and the best.
    </p>
  </div>
  <div class="allBenefits">
    <div class="row1">
      <div class="benefit b1">
        <h3>01</h3>
        <h5>Standardization</h5>
        <p>
          When working in a global workplace, it’s <br />often difficult to
          gauge learners’ training<br />
          experiences.
        </p>
      </div>

      <div class="benefit b2">
        <h3>02</h3>
        <h5>Reduced Costs</h5>
        <p>
          With Weekend UX, there’s no cost to <br />reproduce materials and,
          thanks to mobile <br />learning and microlearning.
        </p>
      </div>

      <div class="benefit b3">
        <h3>03</h3>
        <h5>More Customization</h5>
        <p>
          ust like learners aren’t one-size-fits-all, <br />learning is not a
          one-size-fits-all <br />experience. By using different ... Read More
        </p>
      </div>
    </div>

    <div class="row2">
      <div class="benefit b4">
        <h3>04</h3>
        <h5>Affordable Pricing</h5>
        <p>
          With Weekend UX, there’s no cost to <br />reproduce materials and,
          thanks to mobile <br />learning and microlearning.
        </p>
      </div>

      <div class="benefit b5">
        <h3>05</h3>
        <h5>Learner Satisfaction</h5>
        <p>
          With Weekend UX, there’s no cost to <br />reproduce materials and,
          thanks to mobile <br />learning and microlearning.
        </p>
      </div>

      <div class="benefit b6">
        <h3>06</h3>
        <h5>Multimedia Materials</h5>
        <p>
          With Weekend UX, there’s no cost to <br />reproduce materials and,
          thanks to mobile <br />learning and microlearning.
        </p>
      </div>
    </div>
  </div>
</div>
<app-newsletter></app-newsletter>
