<div class="aboutUs">
  <div class="aboutUsText">
    <h1>About Us</h1>
    <h3>
      <span class="weekendUx">Skill Hive</span> Providing The Best<br />
      Opportunities To The Students<br />Around The Glob.
    </h3>
    <p>
      Welcome to Skill Hive, a dynamic learning platform designed to empower
      individuals with industry-relevant skills. Whether you're diving into
      technology, business, or creative fields, we provide high-quality courses
      and resources to help you grow. Our mission is to bridge the gap between
      learning and real-world application by offering hands-on projects, expert
      guidance, and a community-driven approach. Whether you're a beginner or an
      experienced professional, Skill Hive is your go-to destination for
      upskilling, career advancement, and innovation.
    </p>
  </div>
  <div class="aboutUsImg">
    <img src="../../../../assets/images/Rectangle 14.png" class="officeImg1" />
    <img src="../../../../assets/images/Rectangle 13.png" class="officeImg2" />
    <img
      src="../../../../assets/images/Rectangle 12.png"
      class="backgroundImg"
    />
  </div>
</div>
<div class="features">
  <div class="featuresImg">
    <img src="../../../../assets/images/Image BG.png" class="bulbBackground" />
    <img src="../../../../assets/images/Section Img.png" class="bulbImg" />
  </div>
  <div class="featuresTxt">
    <h5>Features</h5>
    <h3>
      We are always working <br />to provide you best of <br />the features in
      all<br />
      aspects.
    </h3>
    <p>
      Skill Hive is a comprehensive learning platform designed to help
      individuals acquire in-demand skills and advance their careers. We offer a
      diverse range of courses across technology and creative fields, ensuring
      learners have access to industry-relevant knowledge. Our platform focuses
      on hands-on learning with interactive exercises, and expert-led content.
      Through structured career tracks, live workshops, and personalized
      learning paths, we empower users to grow at their own pace. With
      industry-recognized certifications, and a vibrant community for networking
      and mentorship, Skill Hive bridges the gap between learning and
      professional success.
    </p>
  </div>
</div>
<div class="benefits">
  <div class="benefitsHeading">
    <h5>Our Benefits</h5>
    <h3>
      By Joining Skill Hive Platform,<br />
      One Can Avail a Lot Of Benefits.
    </h3>
    <p>
      Install our top-rated dropshipping app to your e-commerce site and get
      <br />access to US Suppliers, AliExpress vendors, and the best.
    </p>
  </div>
  <div class="allBenefits">
    <div class="row1">
      <div class="benefit b1">
        <h3>01</h3>
        <h5>Standardization</h5>
        <p>
          When working in a global workplace, it’s <br />often difficult to
          gauge learner’s training<br />
          experiences.
        </p>
      </div>

      <div class="benefit b2">
        <h3>02</h3>
        <h5>Reduced Costs</h5>
        <p>
          With Skill Hive, there’s no cost to <br />reproduce materials and,
          thanks to mobile <br />learning and microlearning.
        </p>
      </div>

      <div class="benefit b3">
        <h3>03</h3>
        <h5>More Customization</h5>
        <p>
          Personalized learning paths tailored to your career goals and skill
          level.
        </p>
      </div>
    </div>

    <div class="row2">
      <div class="benefit b4">
        <h3>04</h3>
        <h5>Affordable Pricing</h5>
        <p>
          With Skill Hive there’s High-quality courses at budget-friendly rates,
          making learning accessible to all.
        </p>
      </div>

      <div class="benefit b5">
        <h3>05</h3>
        <h5>Learner Satisfaction</h5>
        <p>
          A community-driven platform with positive feedback and success
          stories.
        </p>
      </div>

      <div class="benefit b6">
        <h3>06</h3>
        <h5>Multimedia Materials</h5>
        <p>
          With Skill Hive, there’s Engaging content with Courses, interactive
          Informations and Assessment.
        </p>
      </div>
    </div>
  </div>
</div>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
