header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 20px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

header .left {
  display: flex;
  align-items: center;
}

header img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

nav ul li a:hover {
  color: #ff532f;
}

nav .header-right-botm {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

nav .header-right-botm input {
  background-color: #f5f5f5;
  width: 250px;
  padding: 8px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ff532f;
  margin-right: 20px;
}

nav .header-right-botm img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  header {
    padding: 15px 20px;
  }

  nav ul li a {
    font-size: 14px;
  }

  nav .header-right-botm input {
    width: 200px;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    margin-right: 10px;
  }

  nav .header-right-botm input {
    width: 150px;
  }
}

@media (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  nav ul li {
    margin: 5px 0;
  }

  nav .header-right-botm {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  nav .header-right-botm input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
  header {
    padding: 10px 15px;
  }

  nav ul li a {
    font-size: 12px;
  }

  nav .header-right-botm input {
    width: 100%;
  }
}
