.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 85px 20px 0px 10px;
  width: 100%;

  .studentImageContainer {
    position: relative;
    z-index: 1;
    width: 600px;
    height: 600px;
    padding-right: 20px;

    .tutorsImg {
      bottom: 120px;
      right: 32px;
    }

    .onlineCoursesImg {
      right: 30px;
      top: -40px;
    }

    .videoCourseIng {
      left: -130px;
      top: 102px;
    }

    .tutorsImg,
    .onlineCoursesImg,
    .videoCourseIng {
      position: absolute;
      z-index: 3;
    }
    .studentImage {
      position: absolute;
      z-index: 2;
      height: 495px;
      width: 495px;
      border-radius: 50%;
      background-color: #20b486;
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: center;
    }
  }

  .tagLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 583px;
    height: 470px;
    padding-left: 140px;
    h2 {
      font-size: 4rem;
      line-height: 1.3;
      margin-top: 15px;

      span {
        color: #20b486;
      }
    }

    .getStartedBtn {
      width: 157px;
      height: 60px;
      background-color: #20b486;
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      font-size: 15px;
      color: #ffff;
    }

    .additionalFeatures {
      display: flex;
      flex-direction: row;
      .additionalFeature {
        width: 163px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 0px 15px 0px 0p img {
          padding-right: 5px;
        }
      }
    }
  }
}

.popularCoursesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0px;
  .moreCoursesBtn {
    width: 173px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    background-color: white;
    color: #1a906b;
  }
  .courseContainerHeading {
    padding-left: 25px;
    width: 100%;
    h3 {
      margin: 8px 0px;
      font-weight: 500;
      color: #1a906b;
    }

    h1 {
      font-weight: 500;
      font-size: 30px;
    }

    p {
      font-weight: 300;
      color: #667085;
      font-size: 1rem;
    }
  }
  .popularCourses {
    display: flex;
    flex-direction: row;
    .popularCourse {
      width: 384px;
      height: 553px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 25px 8px;

      .courseImg {
        margin-top: 20px;
      }

      .courseText {
        width: 336px;
        height: 225px;

        h3 {
          margin: 30px 0px 15px 0px;
          color: #1a906b;
        }

        p {
          font-weight: 300;
          color: #667085;
        }

        .courseName,
        .instructor {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          justify-content: space-between;
        }

        .instructor {
          margin-top: 30px;

          h2 {
            font-weight: 400;
            color: #1a906b;
          }
        }
      }
    }
  }
}

.tutorsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;

  .tutorsHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;

    h3 {
      margin: 8px 0px;
      font-weight: 500;
      color: #1a906b;
    }

    h1 {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 24px;
    }

    p {
      font-weight: 300;
      color: #667085;
      font-size: 1rem;
      text-align: center;
    }
  }

  .tutors {
    display: flex;
    flex-direction: row;
    align-items: center;
    .tutor {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 340px;
      width: 276px;
      background-color: #f9fafb;
      margin: 18px;

      .tutorImg {
        margin: 30px 0px;
      }

      .tutorDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 192px;
        h2 {
          font-size: 1.1rem;
          font-weight: 400;
          color: #201d1d;
          text-align: center;
          margin: 0px;
        }

        h3 {
          font-size: 1rem;
          color: #22b286;
          text-align: center;
          margin: 0px;
        }

        p {
          margin: 8px 0px;
          font-weight: 300;
          color: #667085;
          text-align: center;
        }
      }

      .socialLinks {
        svg {
          margin: 0px 5px;
        }
      }
    }
  }
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;

  .servicesHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    h3 {
      margin: 8px 0px;
      font-weight: 500;
      color: #1a906b;
    }

    h1 {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 24px;
      text-align: center;
    }
  }

  .services {
    display: flex;
    flex-direction: row;
    align-items: center;

    .service {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 243px;
      width: 373px;
      background-color: #f9fafb;
      border: solid thin #f9fafb;
      border-radius: 12px;
      margin: 13px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      .serviceHeading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 22px 0px;
        width: 100%;

        h2 {
          font-size: 1.4rem;
          font-weight: 500;
          color: #201d1d;
          text-align: center;
          margin: 0px;
        }

        img ,h2{
          margin: 0px 16px;
        }
      }

      .serviceDetails {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-size: 1rem;
          color: #22b286;
          text-align: center;
          margin: 0px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        p {
          margin: 8px 0px;
          font-weight: 300;
          color: #667085;
          text-align: center;
        }
      }
    }
  }
}
