<div class="change-password full-screen-view">
  <h2>Change Password</h2>

  <form (ngSubmit)="onSubmit()" #passwordForm="ngForm" class="form-container">
    <!-- Error and Success Messages -->
    <div *ngIf="errorMessage" class="alert error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert success">{{ successMessage }}</div>

    <!-- Current Password -->
    <div class="form-group">
      <label for="currentPassword">Current Password *</label>
      <div class="password-container">
        <input
          id="currentPassword"
          type="{{ showCurrentPassword ? 'text' : 'password' }}"
          [(ngModel)]="currentPassword"
          name="currentPassword"
          required
        />
        <i
          class="fa"
          [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="togglePasswordVisibility('current')"
        ></i>
      </div>
    </div>

    <!-- New Password -->
    <div class="form-group">
      <label for="newPassword">New Password *</label>
      <div class="password-container">
        <input
          id="newPassword"
          type="{{ showNewPassword ? 'text' : 'password' }}"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
        />
        <i
          class="fa"
          [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="togglePasswordVisibility('new')"
        ></i>
      </div>
    </div>

    <!-- Confirm New Password -->
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password *</label>
      <div class="password-container">
        <input
          id="confirmPassword"
          type="{{ showConfirmPassword ? 'text' : 'password' }}"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
        <i
          class="fa"
          [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="togglePasswordVisibility('confirm')"
        ></i>
      </div>
    </div>

    <!-- Action Button -->
    <div class="form-buttons">
      <button (click)="cancel()" type="submit" class="cancel">
        Cancel
      </button>
      <button type="submit" class="primary" [disabled]="passwordForm.invalid">
        Change Password
      </button>
    </div>
  </form>
</div>
