<div class="container" *ngIf="!otpVerified">
  <h2>{{ currentTitle() }}</h2>
  <p>{{ currentSubTitle() }}</p>

  <!-- Email Form -->
  <form class="emailForm"  *ngIf="!otpSent" [formGroup]="emailForm" (ngSubmit)="requestOTP()">
    <mat-form-field>
      <mat-label>User</mat-label>
      <mat-select formControlName="user">
        <mat-option value="users">Candidate</mat-option>
        <mat-option value="instructors">Instructor</mat-option>
      </mat-select>
      @if (emailForm.get('user').hasError('required')) {
      <mat-error>User type is required</mat-error>
      }
    </mat-form-field>
    <div class="form-group">
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        placeholder="Email*"
      />
      <div
        *ngIf="emailForm.get('email')?.errors?.['required'] && emailForm.get('email')?.touched"
      >
        <mat-error>*Email is required</mat-error>
      </div>
      <div
        *ngIf="emailForm.get('email')?.errors?.['email'] && emailForm.get('email')?.touched"
      >
        <mat-error>*Please enter a valid email address</mat-error>
      </div>
      <div *ngIf="timer" class="otpTimer">
        Resend the OTP after -
        <countdown
          [config]="{ leftTime: 60, format: 'm:s' }"
          (event)="onTimerFinished($event)"
        />
      </div>
    </div>
    <button
      type="submit"
      class="submitBtn"
      [disabled]="!emailForm.valid || cannotSubmit"
    >
      Send OTP
    </button>
  </form>
  <mat-progress-bar
    *ngIf="isSubmitting"
    mode="indeterminate"
  ></mat-progress-bar>

  <!-- OTP Form -->
  <form
    *ngIf="otpSent && !otpVerified"
    [formGroup]="otpForm"
    (ngSubmit)="verifyOTP()"
  >
    <div class="form-group">
      <input
        type="text"
        formControlName="otp"
        class="form-control"
        placeholder="Enter the 6-digit OTP"
      />
      <div
        *ngIf="otpForm.get('otp')?.errors?.['required'] && otpForm.get('otp')?.touched"
      >
        <mat-error>*OTP is required</mat-error>
      </div>
      <div
        *ngIf="otpForm.get('otp')?.errors?.['pattern'] && otpForm.get('otp')?.touched"
      >
        <mat-error>*OTP must be 6 digits</mat-error>
      </div>
    </div>
    <button type="submit" class="submitBtn" [disabled]="!otpForm.valid">
      Verify OTP
    </button>
  </form>
  <button (click)="closeDialog()" class="cancelBtn1">Cancel</button>
</div>

<!-- Password Reset Form -->
<mat-card *ngIf="otpVerified" class="signupCard" appearance="outlined">
  <mat-card-header class="formHeader">
    <mat-card-title class="formTitle">Change Password</mat-card-title>
    <div><h5 class="formSubTitle">changing password is easy</h5></div>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="passwordForm"
      (ngSubmit)="resetPassword()"
      class="signupForm"
    >
      <mat-form-field class="passwordField">
        <mat-label>Enter new password</mat-label>
        <input
          type="password"
          formControlName="password"
          matInput
          [type]="hidePassword() ? 'password' : 'text'"
        />
        <mat-icon (click)="passwordClick($event)">{{
          hidePassword() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <div class="errorsContainer">
        @if (passwordForm.get('password').hasError('required') &&
        passwordForm.get('password').touched) {
        <div class="confirmPasswordErrors">Password is required</div>
        } @if (passwordForm.get('password').hasError('pattern')&&
        passwordForm.get('password').touched) {
        <div class="confirmPasswordErrors">
          Password must have 8+ chars, 1 uppercase, 1 lowercase, 1 number & 1
          special char
        </div>
        }
      </div>

      <mat-form-field class="confirmPasswordField">
        <mat-label>Confirm new password</mat-label>
        <input
          type="password"
          formControlName="confirmPassword"
          matInput
          [type]="hideConfirmPassword() ? 'password' : 'text'"
        />
        <mat-icon (click)="confirmPasswordClick($event)">{{
          hideConfirmPassword() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      @if (passwordForm.get('confirmPassword').valid &&
      passwordForm.get('password').valid &&
      passwordForm.hasError('PasswordNoMatch')) {
      <div class="confirmPasswordErrors">Password mismatch</div>
      } @if (passwordForm.get('confirmPassword').hasError('required') &&
      passwordForm.get('confirmPassword').touched) {
      <div class="confirmPasswordErrors">Confirm Password is required</div>
      }
      <button
        mat-flat-button
        type="submit"
        [disabled]="!passwordForm.valid"
        class="signupBtn"
      >
        Reset Password
      </button>
    </form>
    <button mat-flat-button (click)="closeDialog()" class="cancleBtn">
      Cancel
    </button>
  </mat-card-content>
</mat-card>
