<!-- Navbar -->
<nav class="navbar_1">
    
    <div class="left-section">
        <div id="logo">
            <img src="assets/images/icon.png" alt="Logo">
        </div>
        <div class="logo">SkillHive</div>
    </div>
    
    
    <div class="right-section">
        <ul class="nav-links">
            <li><a href="#myaccount">My Account</a></li>
        </ul>
        <div class="profile-icon">
            <img src="https://via.placeholder.com/40" alt="Profile">
        </div>
    </div>
    
    
    <div class="hamburger" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</nav> 
<!-- Header Section -->
<!-- <div class="head_box1">
    <nav>
        <div>
            <ul class="nav-links2">
                <li><a href="#home">Home</a> |</li>
                <li><a href="#become"><span id="specialtxt">Become An Instructor</span></a></li>
            </ul>
        </div>
    </nav>
    <div class="head_content">
        <div class="head_txt">
            <p>
                Join <span id="specialtxt2">SkillHive</span> as an <br>
                Instructor and Empower<br> Learners Worldwide
            </p>
        </div>
        <div class="head_img">
            <img src="assets/images/people.png" alt="People">
        </div>
    </div>
    <div class="Pattern">
        <img src="assets/images/Pattern.png" alt="Pattern">
    </div>
</div>  -->
<!-- <app-introduction></app-introduction> -->