<div class="head_box1">
    <!-- <nav>
        <div>
            <ul class="nav-links2">
                <li><a href="/home">Home</a> |</li>
                <li><a href="#become"><span id="specialtxt">Become An Instructor</span></a></li>
            </ul>
        </div>
    </nav> -->
    <div class="head_content">
        <div class="head_txt">
            <p>
                Join <span id="specialtxt2">SkillHive</span> as an <br>
                Instructor and Empower<br> Learners Worldwide
            </p>
        </div>
        <div class="head_img">
            <img src="assets/images/people.png" alt="People">
        </div>
    </div>
    <div class="Pattern">
        <img src="assets/images/Pattern.png" alt="Pattern">
    </div>
</div> 