<div class="sideMenu">
    <div class="sideMenuoption">
      <div class="redirectHeading">
        <img
          src="../../../../assets/images/home.png"
          width="24px"
          height="24px"
        />
        <a href="">Home</a>
      </div>
      <img
        src="../../../../assets/images/right.png"
        width="24px"
        height="24px"
      />
    </div>

    <div class="sideMenuoptions">
      <div class="sideMenuHeading">
        <img
          src="../../../../assets/images/online-learning.png"
          width="24px"
          height="24px"
        />
        <p>Courses</p>
      </div>
      <div class="sideSubMenuoption">
        <div class="redirectHeading">
          <img
            src="../../../../assets/images/add.png"
            width="24px"
            height="24px"
          /><a href="/admin-create-course">Create courses</a>
        </div>
        <img
          src="../../../../assets/images/right.png"
          width="24px"
          height="24px"
        />
      </div>
      <div class="sideSubMenuoption">
        <div class="redirectHeading">
          <img
            src="../../../../assets/images/file.png"
            width="24px"
            height="24px"
          /><a href="/admin-view-courses">View courses</a>
        </div>
        <img
          src="../../../../assets/images/right.png"
          width="24px"
          height="24px"
        />
      </div>
      <div class="sideSubMenuoption">
        <div class="redirectHeading">
          <img
            src="../../../../assets/images/data-management.png"
            width="24px"
            height="24px"
          />
          <a href="/admin-view-courses">Manage courses</a>
        </div>
        <img
          src="../../../../assets/images/right.png"
          width="24px"
          height="24px"
        />
      </div>
    </div>

    <div class="sideMenuoptions">
      <div class="sideMenuHeading">
        <img
          src="../../../../assets/images/instructor_icon.png"
          width="24px"
          height="24px"
        />
        <p>Instructor</p>
      </div>
      <div class="sideSubMenuoption">
        <div class="redirectHeading">
          <img
            src="../../../../assets/images/paper.png"
            width="24px"
            height="24px"
          />
          <a href="/applicants">View instructor profiles</a>
        </div>
        <img
          src="../../../../assets/images/right.png"
          width="24px"
          height="24px"
        />
      </div>
      <div class="sideSubMenuoption">
        <div class="redirectHeading">
          <img
            src="../../../../assets/images/loupe.png"
            width="24px"
            height="24px"
          />
          <a href="/applicants-details">Application details</a>
        </div>
        <img
          src="../../../../assets/images/right.png"
          width="24px"
          height="24px"
        />
      </div>
    </div>
  </div>
