.sideMenu {
  width: -webkit-fill-available;
  max-width: 276px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 92vh;
  padding: 10px 0px;

  .redirectHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: -webkit-fill-available;
    width: -webkit-fill-available;

    a {
      min-height: 40px;
      height: -webkit-fill-available;
      width: -webkit-fill-available;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    img {
      margin-right: 5px;
    }
  }

  a,
  a:active,
  a:visited,
  a:hover {
    text-decoration: none;
    color: black;
  }

  .sideMenuoption {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    border-radius: 8px;
    padding: 0px 10px;
    margin: 0px 10px;
    border: 1px solid #d9d9d9;

    mat-icon {
      margin: 0px 8px 0px 0px;
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }

  .sideSubMenuoption {
    min-height: 40px;
    font-size: 1rem;
    border-radius: 8px;
    padding: 3px 10px 3px 3px;
    margin: 5px 0px 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d9d9d9;

    img {
      margin-left: 8px;
    }

    mat-icon {
      margin: 0px 8px 0px 0px;
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }

  .sideMenuoptions {
    font-size: 1rem;
    border-radius: 8px;
    padding: 0px 10px;
    margin: 0px 10px;

    .sideMenuHeading {
      display: flex;
      flex-direction: row;
      align-items: center;

      img{
        margin-right: 5px;
      }
    }

    p {
      height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px 0px;
    }
  }
}
