.group-7612,
.group-7612 * {
  box-sizing: border-box;
}
.group-7612 {
  position: relative;
}
.rectangle-2892 {
  background: #ffe5e1;
  border-radius: 10px;
  width: 1340px;
  height: 288px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.eduvi {
  width: 1278px;
  height: 250px;
  position: static;
}
._5 {
  width: 70px;
  height: 250px;
  position: static;
}
.contact {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1239px;
  top: 248.87px;
  width: 61px;
  height: 20.13px;
}
.help {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1239px;
  top: 212.86px;
  width: 35px;
  height: 20.13px;
}
.privacy {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1239px;
  top: 176.84px;
  width: 56px;
  height: 20.13px;
}
.terms {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1239px;
  top: 140.82px;
  width: 47px;
  height: 20.13px;
}
.investors {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1239px;
  top: 104.81px;
  width: 70px;
  height: 20.13px;
}
.press {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1239px;
  top: 68.79px;
  width: 42px;
  height: 20.13px;
}
.more {
  color: #0a033c;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  left: 1239px;
  top: 19px;
  width: 55px;
  height: 28.6px;
}
._4 {
  width: 173px;
  height: 250px;
  position: static;
}
.programs {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 929px;
  top: 248.87px;
  width: 73px;
  height: 20.13px;
}
.testimonial {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 929px;
  top: 212.86px;
  width: 86px;
  height: 20.13px;
}
.admissions {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 929px;
  top: 176.84px;
  width: 87px;
  height: 20.13px;
}
.courses {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 929px;
  top: 140.82px;
  width: 63px;
  height: 20.13px;
}
.professional-education {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 929px;
  top: 104.81px;
  width: 173px;
  height: 20.13px;
}
.home {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 929px;
  top: 68.79px;
  width: 45px;
  height: 20.13px;
}
.quick-links {
  color: #0a033c;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  left: 929px;
  top: 19px;
  width: 117px;
  height: 28.6px;
}
._3 {
  width: 195px;
  height: 213.98px;
  position: static;
}
.e-learning-courses {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 335px;
  top: 140.82px;
  width: 142px;
  height: 20.13px;
}
.video-courses {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 335px;
  top: 176.84px;
  width: 111px;
  height: 20.13px;
}
.offline-courses {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 335px;
  top: 212.86px;
  width: 117px;
  height: 20.13px;
}
.virtual-classroom-courses {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 335px;
  top: 104.81px;
  width: 195px;
  height: 20.13px;
}
.classroom-courses {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 335px;
  top: 68.79px;
  width: 145px;
  height: 20.13px;
}
.courses2 {
  color: #0a033c;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  left: 335px;
  top: 19px;
  width: 90px;
  height: 28.6px;
}
._1 {
  width: 125px;
  height: 250px;
  position: static;
}
.teaching-center {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 667px;
  top: 248.87px;
  width: 125px;
  height: 20.13px;
}
.blog {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 667px;
  top: 212.86px;
  width: 34px;
  height: 20.13px;
}
.transactions {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 667px;
  top: 176.84px;
  width: 97px;
  height: 20.13px;
}
.developers {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 667px;
  top: 140.82px;
  width: 86px;
  height: 20.13px;
}
.parteners {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 667px;
  top: 104.81px;
  width: 74px;
  height: 20.13px;
}
.learners {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 667px;
  top: 68.79px;
  width: 67px;
  height: 20.13px;
}
.community {
  color: #0a033c;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  left: 667px;
  top: 19px;
  width: 123px;
  height: 28.6px;
}
.left {
  width: 193px;
  height: 235px;
  position: static;
}
.skill-hive-is-a-registered-trademark-of-skill-hive-co {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  left: 31px;
  top: 199px;
  width: 193px;
  height: 55px;
}
._2024-skill-hive-co {
  color: #5d5a6f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 31px;
  top: 158px;
  width: 166px;
  height: 20px;
}
.social {
  width: 147px;
  height: 38.14px;
  position: static;
}
.facebook-logo-1 {
  width: 1.64%;
  height: 8.09%;
  position: absolute;
  right: 96.04%;
  left: 2.31%;
  bottom: 62.51%;
  top: 29.4%;
  overflow: hidden;
}
.group {
  width: 54.06%;
  height: 100%;
  position: absolute;
  right: 22.97%;
  left: 22.97%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.linked-in-icon {
  width: 1.64%;
  height: 6.83%;
  position: absolute;
  right: 86.72%;
  left: 11.64%;
  bottom: 63.03%;
  top: 30.14%;
  overflow: visible;
}
.twitter-logo {
  width: 1.64%;
  height: 6.47%;
  position: absolute;
  right: 89.48%;
  left: 8.88%;
  bottom: 63.39%;
  top: 30.14%;
  overflow: hidden;
}
.group2 {
  width: 99.33%;
  height: 99.18%;
  position: absolute;
  right: 0.33%;
  left: 0.33%;
  bottom: 0.41%;
  top: 0.41%;
  overflow: visible;
}
._8 {
  width: 36px;
  height: 38.14px;
  position: static;
}
.bg {
  background: #ff6652;
  border-radius: 50%;
  width: 36px;
  height: 38.14px;
  position: absolute;
  left: 68px;
  top: 77.26px;
}
.instagram-icon {
  width: 18px;
  height: 19.07px;
  position: absolute;
  left: 77px;
  top: 86.8px;
  overflow: visible;
}
.logo {
  width: 153px;
  height: 32px;
  position: static;
}
.skill-hive {
  color: #0a033c;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 62px;
  top: 19px;
  width: 122px;
  height: 32px;
}
.icon {
  width: 25px;
  height: 31.78px;
  position: static;
}
.rectangle-2676 {
  background: #ff6652;
  border-radius: 5px;
  width: 25px;
  height: 31.78px;
  position: absolute;
  left: 31px;
  top: 19px;
}
.open-book-1 {
  width: 18px;
  height: 19.07px;
  position: absolute;
  left: 34px;
  top: 25.36px;
  overflow: hidden;
}
.group3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 2.25px;
  overflow: visible;
}
